@import url('../src/fonts/Oswald/stylesheet.css');
@import url('../css/utils.css');

:root {
    --fs-base: 20px;
    --font-secondary: 'Oswald';
    --primary-rgb-code: 0, 26, 79;
    --secodary-rgb-code: 0, 139, 179;
    --primary-color: rgb(var(--primary-rgb-code));
    --primary-op-color: rgba(var(--primary-rgb-code), .8);
    --secondary-color: rgb(var(--secodary-rgb-code));
    --gray-color: #C9CBD7;
    --light-gray-color: #F7F7F7;
}

html, body {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 3;
}
.header_default {
    background: var(--primary-color);
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-logo {
    width: 300px;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin: 0 30px;
}
.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 19px;
    cursor: pointer;
}
.menu__link:hover {
    color: var(--secondary-color);
}

.start-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../src/img/img4.JPG');
    background-size: cover;
    background-position: center center;
}
.start-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.start-section__text {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
}
.start-section__headline {
    font-size: 60px;
    font-family: var(--font-secondary);
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    margin-bottom: 35px;
}
.start-section__caption {
    color: #fff;
    font-size: 25px;
    font-family: var(--font-secondary);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
}
.start-section__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-op-color);
}

.page-section {
    padding: 100px 0;
}
.page-section__gray {
    background: var(--gray-color);
}

.headline {
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.regions {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
    margin-top: 50px;
    align-items: end;
}
.regions__item {
    text-align: center;
}
.regions__image {
    width: 100%;
}


.default-page {
    padding-top: 108px;
}

.page-top-block {
    height: 220px;
    position: relative;
}
.page-top-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.page-top-block__headline {
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 56px;
}
.page-top-block__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--primary-rga-code), .5);
}

.footer {
    background: var(--primary-color);
    padding: 35px 0;
}
.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-secondary);
    text-align: center;
    color: #fff;
}

.alert-develop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-transform: uppercase;
}

.info-item {
    font-family: var(--font-secondary);
    font-size: var(--fs-base);
    text-transform: uppercase;
    margin-bottom: 60px;
}
.info-item_inline {
    display: inline-block;
    margin-right: 80px;
}
.info-item__label {
    color: #999999;
    margin-bottom: 3px;
}   
.info-item__value {
    color: #000;
}

.group-info-items {
    display: flex;
    align-items: center;
}