@import url('../src/fonts/Oswald/stylesheet.css');
@import url('../src/fonts/OpenSans/stylesheet.css');
@import url('../css/utils.css');

:root {
    --fs-base: 19px;
    --font-base: 'Open Sans';
    --font-secondary: 'Oswald';
    --primary-rgb-code: 0, 26, 79;
    --secondary-rgb-code: 0, 139, 179;
    --primary-color: rgb(var(--primary-rgb-code));
    --primary-op-color: rgba(var(--primary-rgb-code), .6);
    --secondary-color: rgb(var(--secondary-rgb-code));
    --gray-color: #C9CBD7;
    --light-gray-color: #F7F7F7;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    font-size: var(--fs-base);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 3;
    background: #fff;
    border-bottom: 4px solid var(--secondary-color);
}
.header_default {
    /* background: var(--primary-color); */
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-logo {
    width: 270px;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin: 0 30px;
}
.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 19px;
    cursor: pointer;
}
.menu__link:hover {
    color: var(--secondary-color);
}

.start-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../src/img/img4.JPG');
    background-size: cover;
    background-position: center center;
}
.start-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.start-section__text {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
}
.start-section__headline {
    font-size: 60px;
    font-family: var(--font-secondary);
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    margin-bottom: 35px;
}
.start-section__caption {
    color: #fff;
    font-size: 25px;
    font-family: var(--font-secondary);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
}
.start-section__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--primary-op-color); */
    background: rgba(var(--secondary-rgb-code), .7);
}

.page-section {
    padding: 100px 0;
}
.page-section__gray {
    background: var(--gray-color);
}

.headline {
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.regions {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
    margin-top: 50px;
    align-items: end;
}
.regions__item {
    text-align: center;
}
.regions__image {
    width: 100%;
}


.default-page {
    padding-top: 97px;
}

.page-top-block {
    height: 220px;
    position: relative;
}
.page-top-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.page-top-block__headline {
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 56px;
}
.page-top-block__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--primary-op-color); */
    background: rgba(var(--secondary-rgb-code), .5);
}

.footer {
    flex: 0 0 auto;
    /* background: var(--primary-color); */
    background: var(--secondary-color);
    padding: 20px 0;
}
.footer__copyright {
    font-size: 18px;
    font-weight: 300;
    font-family: var(--font-secondary);
    text-align: center;
    color: #fff;
}

.alert-develop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-transform: uppercase;
}

.info-item {
    font-family: var(--font-secondary);
    font-size: var(--fs-base);
    text-transform: uppercase;
    margin-bottom: 60px;
}
.info-item_inline {
    display: inline-block;
    margin-right: 80px;
}
.info-item__label {
    color: #999999;
    margin-bottom: 3px;
}   
.info-item__value {
    color: #000;
}

.group-info-items {
    display: flex;
    align-items: center;
}

/* data-item */
.data-item {
    color: var(--primary-color);
    margin-bottom: 30px;
}
.data-item__title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-secondary);
}
.data-item__collapse {
    padding-left: 23px;
}
.data-item__collapse-icon {
    transition: transform .3s;
    margin-right: 10px;
}
.data-item__desc {
    font-weight: 300;
    margin: 25px 0 10px;
    color: #000;
}
.data-item__files {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.data-item__file {
    font-weight: 300;
}
.data-item_open .data-item__collapse-icon {
    transform: rotate(90deg);
}

/* pay-item */
.pay-item {
    font-family: var(--font-secondary);
    background: #F7F7F7;
    padding: 35px 50px;
}
.pay-item__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.pay-item__title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
    margin-right: 15px;
}
.pay-item__collapse {
    margin-top: 25px;
}
.pay-item__label {
    font-weight: 200;
    color: #000;
    font-size: 16px;
}
.pay-item__desc {
    color: #000;
}
.pay-item__files {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0;
    font-weight: 300;
}
.pay-item__file {
    list-style-type: '\2013';
    padding-left: 7px;
}
.pay-item__collapse-icon {
    transition: transform .5s;
    transform: rotate(-180deg);
}
.pay-item_open .pay-item__collapse-icon {
    transform: rotate(-270deg);
}

/* contact-item */
.contact-item {
    display: flex;
    margin-bottom: 45px;
}
.contact-item__logo-wrp {
    flex-shrink: 0;
    width: 50px;
    text-align: center;
    margin-right: 25px;
}
.contact-item__logo {
    margin-bottom: 10px;
}
.contact-item__data-wrp {
    text-align: left;
}
.contact-item__label {
    color: #999999;
    text-transform: uppercase;
}

.contacts-map {
    height: 400px;
}

.mobile-menu-icon {
    display: none;
    background: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 27px;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, .6);
    opacity: 0;
    transition: opacity 1s;
}
.mobile-menu_open {
    display: block;
    opacity: 1;
}
.mobile-menu__container {
    position: relative;
    width: 65%;
    height: 100vh;
    background: var(--secondary-color);
    margin-left: 35%;
    padding-top: 70px;
}
.mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 25px;
}
.mobile-menu__item { 
    list-style-type: none;
    margin-bottom: 15px;
}
.mobile-menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}